.mstheme     { nav-banner-image: url(abstrbnr.gif); separator-image: url(abstrrul.gif); 
               list-image-1: url(abstrbu1.gif); list-image-2: 
               url(abstrbu2.gif); list-image-3: url(abstrbu3.gif); 
               navbutton-horiz-pushed: url(abstrhbs.gif); 
               navbutton-horiz-normal: url(abstrhb.gif); 
               navbutton-horiz-hovered: url(abstrhbh.gif); 
               navbutton-vert-pushed: url(abstrvbs.gif); 
               navbutton-vert-normal: url(abstrvb.gif); 
               navbutton-vert-hovered: url(abstrvbh.gif); 
               navbutton-home-normal: url(bstrhoma.gif); 
               navbutton-home-hovered: url(bstrhomh.gif); 
               navbutton-home-pushed: url(blhomep.gif); navbutton-up-normal: 
               url(bstrupa.gif); navbutton-up-hovered: url(bstruph.gif); 
               navbutton-up-pushed: url(blupp.gif); navbutton-prev-normal: 
               url(bstrprva.gif); navbutton-prev-hovered: url(bstrpreh.gif); 
               navbutton-prev-pushed: url(blprevp.gif); 
               navbutton-next-normal: url(bstrnxta.gif); 
               navbutton-next-hovered: url(bstrnxth.gif); 
               navbutton-next-pushed: url(blnextp.gif) }
.mstheme-bannertxt { font-size: 6; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-horiz-navtxt { font-size: 2; font-weight: bold; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-vert-navtxt { font-size: 2; font-weight: bold; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-navtxthome { font-size: 1; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-navtxtup { font-size: 1; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-navtxtprev { font-size: 1; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-navtxtnext { font-size: 1; color: rgb(0,0,0); font-family: 宋体 }
ul           { list-style-image: url('abstrbu1.gif') }
ul ul        { list-style-image: url('abstrbu2.gif') }
ul ul ul     { list-style-image: url('abstrbu3.gif') }
a:link       { color: rgb(51,102,153) }
a:visited    { color: rgb(153,0,0) }
a:active     { color: rgb(0,102,0) }
body         { color: rgb(0,0,0); background-color: rgb(192,192,192) }
h1           { color: rgb(51,102,153) }
h2, marquee  { color: rgb(51,102,153) }
h3           { color: rgb(51,102,153) }
h4           { color: rgb(51,102,153) }
h5           { color: rgb(51,102,153) }
h6           { color: rgb(51,102,153) }
hr           { color: rgb(51,102,153) }
button       { background-color: rgb(51,102,153); color: white; border-color: 
               rgb(102,153,204) }
label, .MSTHEME-LABEL { color: rgb(0,0,0) }
textarea     { color: Black; border-color: rgb(51,102,153) }
fieldset     { color: Black; border-color: rgb(51,102,153) }
legend       { color: rgb(51,102,153) }
select       { color: Black; border-color: rgb(51,102,153) }
table        { table-border-color-light: rgb(102,153,204); table-border-color-dark: 
               rgb(51,102,153); color: rgb(0,0,0); border-color: 
               rgb(51,102,153) }
caption      { color: rgb(51,102,153) }
th           { color: rgb(0,0,0); border-color: rgb(51,102,153) }
td           { border-color: rgb(51,102,153) }
.mstheme-bannertxt a:active { color: rgb(0,0,0) }
.mstheme-bannertxt a:link { color: rgb(0,0,0) }
.mstheme-bannertxt a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-g { font-size: 6; color: rgb(0,0,0); background-image: url('bstrbnr.gif'); 
               font-family: 宋体 }
.mstheme-bannertxt-g a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-s { font-size: 6; color: rgb(0,0,0); font-family: 宋体 }
.mstheme-bannertxt-s a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g { font-size: 2; color: rgb(0,0,0); background-image: url('bstrhbd.gif'); 
               font-family: 宋体 }
.mstheme-horiz-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs { font-size: 2; color: rgb(0,0,0); background-image: url('bstrhbsd.gif'); 
               font-family: 宋体 }
.mstheme-horiz-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome a:active { color: rgb(0,0,0) }
.mstheme-navtxthome a:link { color: rgb(0,0,0) }
.mstheme-navtxthome a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome-g { font-size: 1; color: rgb(0,0,0); background-image: url('bstrhomd.gif'); 
               font-family: 宋体 }
.mstheme-navtxthome-g a:active { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:link { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext-g { font-size: 1; color: rgb(0,0,0); background-image: url('bstrnxtd.gif'); 
               font-family: 宋体 }
.mstheme-navtxtnext-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev-g { font-size: 1; color: rgb(0,0,0); background-image: url('bstrprvd.gif'); 
               font-family: 宋体 }
.mstheme-navtxtprev-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup a:active { color: rgb(0,0,0) }
.mstheme-navtxtup a:link { color: rgb(0,0,0) }
.mstheme-navtxtup a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup-g { font-size: 1; color: rgb(0,0,0); background-image: url('bstrupd.gif'); 
               font-family: 宋体 }
.mstheme-navtxtup-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font a:active { color: rgb(0,0,0) }
.mstheme-topbar-font a:link { color: rgb(0,0,0) }
.mstheme-topbar-font a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font-g { font-size: 1; color: rgb(0,0,0); background-image: url('bstrglbu.gif'); 
               font-family: 宋体 }
.mstheme-topbar-font-g a:active { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:link { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g { font-size: 2; color: rgb(0,0,0); background-image: url('bstrvbd.gif'); 
               font-family: 宋体 }
.mstheme-vert-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs { font-size: 2; color: rgb(0,0,0); background-image: url('bstrvbsd.gif'); 
               font-family: 宋体 }
.mstheme-vert-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(bstrglbu.gif) }
.mstheme-topbar-font { font-size: 1; font-weight: bold; color: rgb(0,0,0); font-family: 宋体 }
body         { background-image: url('bstrbk.gif'); font-family: 宋体 }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 宋体 }
h2           { font-weight: normal; font-style: normal; font-size: 18pt; font-family: 宋体 }
h3           { font-weight: normal; font-style: normal; font-size: 14pt; font-family: 宋体 }
h4           { font-weight: normal; font-style: normal; font-size: 12pt; font-family: 宋体 }
h5           { font-weight: normal; font-style: normal; font-size: 10pt; font-family: 宋体 }
h6           { font-weight: normal; font-style: normal; font-size: 8pt; font-family: 宋体 }
button       { font-size: 8pt; font-style: Bold; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-style: Bold; font-family: 宋体 }
textarea     { font-size: 8pt; font-style: Normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
fieldset     { font-size: 8pt; font-style: Normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
legend       { font-size: 8pt; font-style: Normal; font-family: 宋体 }
select       { font-size: 8pt; font-style: Normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
table        { font-style: Normal; font-family: 宋体 }
caption      { font-size: 14pt; font-style: Normal; font-family: 宋体 }
th           { font-style: Normal; font-family: 宋体 }
marquee      { font-size: 14pt; font-family: 宋体 }
